body, html {
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;
    color: #FF6600;
}

a:hover {
    color: gray;
}

.profil {
    width: 100%;
}

.profil th {
    background-color: #DDDDDD;

    width: 50%;
    border-radius: 8px;
    height: 20px;
    padding: 5px 2%;
}

.profil1 td {
    padding: 5px;
}

.profil3 {
    width: 100%;
}

.profil3 td {
    padding: 5px;
}

.profil3 th {
    background-color: #DDDDDD;

    width: 33%;
    border-radius: 3px;
    height: 20px;
    padding: 2px 2%;
    text-align: left;
}

.dorucene {
    width: 100%;
}

.dorucene td {
    padding: 5px;
}

.dorucene th {
    background-color: #DDDDDD;

    border-radius: 3px;
    height: 20px;
    padding: 2px 2%;
    text-align: left;
}

.dorucene img {
    width: 20px;
}

h2 {
    display: block;
    padding: 5px 2%;
    width: 96%;
    margin: 0 0 10px 0;
    border-radius: 5px;
    background-color: #DDDDDD;
    height: 30px;
}

#hlaska {
    width: 900px;
    background: green;
    border-radius: 3px;
    z-index: 5;
    position: absolute;
    left: calc(50% - 450px);
    top: 70px;
    box-shadow: 1px 1px 5px black;
    padding: 5px;
    text-align: center;
    font-size: 28px;
    color: white;
    display: none;

}

#celek {
    width: 900px;
    background: rgba(20, 20, 20, 0.7);
    border-radius: 3px;
    z-index: 1;
    position: absolute;
    left: calc(50% - 450px);
    top: 80px;
    box-shadow: 1px 1px 5px black;
}

#header {
    width: 100%;
    height: 70px;
    background: rgba(20, 20, 20, 0.7);
    box-shadow: 0px 5px 15px -5px black;
    position: fixed;
    z-index: 2;

}

#menu {
    width: 200px;
    float: left;
}

#menu menu {
    margin: 5px;
    margin-top: 10px;
    padding: 3px;
}

#menu menu li {
    list-style: none;
    padding: 3px 5px;
    margin-top: 2px;
    border-radius: 3px;
}

#menu menu li a {
    display: block;
    background-color: #fff;
    color: #000000;
    text-decoration: none;
    padding: 3px;
    padding-left: 5px;
}

#menu menu li a:hover {
    background-color: #FF9966;
}

#obsah {
    width: 865px;
    margin: 15px auto;
    padding: 5px;
    background-color: white;
    border-radius: 3px;
    min-height: 300px;
    box-shadow: inset -1px -1px 5px black;
}

#back {
    position: fixed;
    top: 0PX;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    -ms-touch-action: none;
}

.map_options {
    position: fixed;
    padding: 5px;
    bottom: 30px;
    right: 10px;
    width: 250px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.map_zoom {
    margin: 5px 10px;
}

.map_zoom_pop1 {
    margin: 0px 5px;
    float: left;
    margin-right: 40px;
    color: white;
    cursor: pointer;
}

.map_zoom_pop2 {
    float: left;
    margin-right: 120px;
    color: white;
    cursor: pointer;
}

.map_zoom_pop3 {
    float: left;
    color: white;
    cursor: pointer;
}

#logo {
    float: left;
}

#h {
    position: relative;
    margin: 5px auto;
    width: 800px;
}

#p {
    position: absolute;
    right: 0;
}

#p ul {
    margin: 0px;
    padding: 0px;
    float: left;
}

#p ul li {
    list-style: none;
    display: block;
    float: left;
    margin: 0px;
    margin-top: 5px;
    margin-right: 10px;
    padding: 0px;
    width: 30px;
    height: 30px;
    border: solid 0px black;
}

#p ul li.logout a {
    display: block;
    height: 100%;
    background-image: url("img/logout.png");
}

#p ul li.logout a:hover {
    background-image: url("img/logouth.png");
}

#p ul li.profil a {
    display: block;
    height: 100%;
    background-image: url("img/profil.png");
}

#p ul li.profil a:hover {
    background-image: url("img/profilh.png");
}

#h2 {
    float: right;
    margin-right: 50px;
    width: 400px;
}

#hornimenu {
    float: left;
    margin-left: 50px;
    width: 350px;
    height: 60px;
    padding: 0px;
}

#hornimenu ul {
    margin: 0px;
    padding: 0px;
}

#hornimenu ul li {
    list-style: none;
    display: block;
    float: left;
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
    width: 60px;
    height: 60px;
    border: solid 0px black;
}

#hornimenu ul li.mesto a {
    display: block;
    height: 100%;
    background-image: url("img/mesto.png");
}

#hornimenu ul li.mesto a:hover {
    background-image: url("img/mestoh.png");
}

#hornimenu ul li.mapa a {
    display: block;
    height: 100%;
    background-image: url("img/mapa.png");
}

#hornimenu ul li.mapa a:hover {
    background-image: url("img/mapah.png");
}

#hornimenu ul li.stat a {
    display: block;
    height: 100%;
    background-image: url("img/stat.png");
}

#hornimenu ul li.stat a:hover {
    background-image: url("img/stath.png");
}

#hornimenu ul li.zpravy a {
    display: block;
    height: 100%;
    background-image: url("img/zpravy.png");
}

#hornimenu ul li.zpravy a:hover {
    background-image: url("img/zpravyh.png");
}

#hornimenu ul li.zpravyn a {
    background-image: url("img/zpravyn.png");
}

#suroviny {
    position: absolute;
    top: 0px;
    right: 50px;
    width: 330px;
    padding: 2px;
    margin-top: 3px;
}

.surovina {
    width: 60px;
    float: left;
    margin: 3px;
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 5px;
}

.surovina div {
    margin: 3px;
    text-align: center;
}

.surovina img {
    display: block;
    margin-left: 20px;
    height: 20px;
}

.hlaska {
    border: solid 3px #339900;
    background-color: #99CC33;
    margin: 5px;
    padding: 5px;
}

.zp {
    float: right;
}

.zp a {
    border: solid 1px #bbb;
    font-size: 18px;
    text-align: center;
    display: block;
    width: 160px;
    background-color: #eee;
    padding: 3px;
    margin: 0px;
    border-radius: 10px;
    color: #000;
    margin-left: 5px;
}

.zp a:hover {
    background-color: #CCCCFF;
}

.drevo {
    display: block;
    height: 30px;
    padding-right: 5px;
    padding-left: 45px;
    background-image: url("img/drevo.png");
    border: solid 3px #bbb;
    border-radius: 5px;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
    background-color: #cccfff;
    float: left;
    margin-left: 5px;
}

.kamen {
    display: block;
    height: 30px;
    padding-right: 5px;
    padding-left: 45px;
    background-image: url("img/kamen.png");
    border: solid 3px #bbb;
    border-radius: 5px;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
    background-color: #cccfff;
    float: left;
    margin-left: 5px;
}

.zelezo {
    display: block;
    height: 30px;
    padding-right: 5px;
    padding-left: 45px;
    background-image: url("img/zelezo.png");
    border: solid 3px #bbb;
    border-radius: 5px;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
    background-color: #cccfff;
    float: left;
    margin-left: 5px;
}

.obili {
    display: block;
    height: 30px;
    padding-right: 5px;
    padding-left: 45px;
    background-image: url("img/obili.png");
    border: solid 3px #bbb;
    border-radius: 5px;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
    background-color: #cccfff;
    float: left;
    margin-left: 5px;
}

.cas {
    display: block;
    height: 30px;
    padding-right: 5px;
    padding-left: 45px;
    background-image: url("img/hodiny.png");
    border: solid 3px #bbb;
    border-radius: 5px;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
    background-color: #cccfff;
    float: left;
    margin-left: 5px;
}

.spotreba {
    display: block;
    height: 30px;
    padding-right: 5px;
    padding-left: 45px;
    background-image: url("img/spotreba.png");
    border: solid 3px #bbb;
    border-radius: 5px;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
    background-color: #cccfff;
    float: left;
    margin-left: 5px;
}

.postav {
    display: block;
    border: 1px solid black;
    width: 200px;
    float: left;
    margin-left: 5px;
    text-align: center;
    height: 40px;
    font-size: 35px;
    border-radius: 20px;
    background-color: forestgreen;
    color: cornsilk;
}

.postav:hover {
    background-color: goldenrod;
    color: black;
    cursor: pointer;
}

#move {
    overflow: visible !important;
}

.mapblok {
    position: absolute;
    border: 1px solid #40601D;
    width: 100%;
    height: 100%;
}

.mapblok div {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 20%;
    height: 15%;
}

.mapblok div.nic {
    background: none;
}

.mapblok div.mesto-0 {
    background-position: 51.6% 0.4%;
}
.mapblok div.mesto-1 {
    background-position: 54.85% 0.4%;
}
.mapblok div.mesto-2 {
    background-position: 58.2% 0.4%;
}
.mapblok div.mesto-3 {
    background-position: 61.26% 0.4%;
}
.mapblok div.mesto-4 {
    background-position: 64.5% 0.4%;
}

.mapblok div.kopec-0 {
    background-position: 0 3.8%;
}
.mapblok div.kopec-1 {
    background-position: 3.2% 3.8%;
}
.mapblok div.kopec-2 {
    background-position: 6.4% 3.8%;
}
.mapblok div.kopec-3 {
    background-position: 9.6% 3.8%;
}
.mapblok div.kopec-4 {
    background-position: 12.8% 3.8%;
}
.mapblok div.kopec-5 {
    background-position: 16% 3.8%;
}
.mapblok div.kopec-6 {
    background-position: 19.2% 3.8%;
}
.mapblok div.kopec-7 {
    background-position: 22.5% 3.8%;
}
.mapblok div.kopec-8 {
    background-position: 25.7% 3.8%;
}
.mapblok div.kopec-9 {
    background-position: 28.9% 3.8%;
}
.mapblok div.kopec-10 {
    background-position: 32.2% 3.8%;
}
.mapblok div.kopec-11 {
    background-position: 35.3% 3.8%;
}
.mapblok div.kopec-12 {
    background-position: 38.7% 3.8%;
}
.mapblok div.kopec-13 {
    background-position: 41.8% 3.8%;
}
.mapblok div.kopec-14 {
    background-position: 45.1% 3.8%;
}
.mapblok div.kopec-15 {
    background-position: 48.4% 3.8%;
}

.mapblok div.les-0 {
    background-position: 0 0.4%;
}
.mapblok div.les-1 {
    background-position: 3.2% 0.4%;
}
.mapblok div.les-2 {
    background-position: 6.4% 0.4%;
}
.mapblok div.les-3 {
    background-position: 9.6% 0.4%;
}
.mapblok div.les-4 {
    background-position: 12.8% 0.4%;
}
.mapblok div.les-5 {
    background-position: 16% 0.4%;
}
.mapblok div.les-6 {
    background-position: 19.2% 0.4%;
}
.mapblok div.les-7 {
    background-position: 22.5% 0.4%;
}
.mapblok div.les-8 {
    background-position: 25.7% 0.4%;
}
.mapblok div.les-9 {
    background-position: 28.9% 0.4%;
}
.mapblok div.les-10 {
    background-position: 32.2% 0.4%;
}
.mapblok div.les-11 {
    background-position: 35.3% 0.4%;
}
.mapblok div.les-12 {
    background-position: 38.7% 0.4%;
}
.mapblok div.les-13 {
    background-position: 41.8% 0.4%;
}
.mapblok div.les-14 {
    background-position: 45.1% 0.4%;
}
.mapblok div.les-15 {
    background-position: 48.4% 0.4%;
}

.mapblok div span {
    display: block;
    height: 67%;
    width: 50%;
    position: relative;
    top: 33%;
    left: 0%;
    z-index: 10;
}

#pozx {
    height: 20px;
    position: fixed;
    text-shadow: 1px 1px 5px black;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#pozxmove {
    position: absolute;
    width: 1000px;
}

#pozxmove div.poz {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#pozxmove div.poz div {
    margin: 0px;
    padding: 0px;
    width: 10%;
    float: left;
    text-align: center;
    font-weight: bold;
    color: white;
}

#pozy {
    width: 40px;
    position: fixed;
    text-shadow: 1px 1px 5px black;
    top: 0px;
    bottom: 20px;
    left: 0px;
    overflow: hidden;
}

#pozymove {
    position: absolute;
    height: 1000px;
}

#pozymove div.poz {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#pozymove div.poz div {
    margin: 0px;
    padding: 0px;
    height: 10%;
    font-weight: bold;
    color: white;
    padding-left: 5px;
    width: 35px;
    display: table;
}

#pozymove div.poz div span {
    display: table-cell;
    vertical-align: middle;
    text-align: left;

}

.hidden {
    display: none;
}

.ui-tooltip {
    background: rgba(20, 20, 20, 0.4);
    border: 0px;
}

#pravej {
    width: 300px;
    top: 70px;
    bottom: 0px;
    right: 0px;
    background: rgba(20, 20, 20, 0.6);
    box-shadow: 0px 5px 15px -5px black;
    position: fixed;
    z-index: 20;
    display: none;
}

#pravej div {
    margin: 15px;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
    height: 95%;
    border-radius: 10px;
    min-height: 300px;
    box-shadow: inset -1px -1px 5px black;
}

#pravej div h2 {
    background: rgba(100, 100, 100, 0.8);
}

#pravej div h2 .zp a {
    width: 15px;
}

canvas {
    z-index: 5;
}



