body, html{
	padding: 0;
	margin: 0;
	background-color: rgb(101, 136, 0);
}

a{
text-decoration: none;
color: #FF6600;
}

a:hover{
color: gray;
}
.profil{
width: 100%;
}
.profil  th{
background-color: #DDDDDD;

width: 50%;
border-radius: 8px;
height: 20px;
padding: 5px 2%;
}

.profil1 td{
padding: 5px;
}

.profil3{
width: 100%;
}

.profil3 td{
padding: 5px;
}

.profil3  th{
background-color: #DDDDDD;

width: 33%;
border-radius: 3px;
height: 20px;
padding: 2px 2%;
text-align: left;
}

.dorucene{
width: 100%;
}

.dorucene td{
padding: 5px;
}

.dorucene  th{
background-color: #DDDDDD;

border-radius: 3px;
height: 20px;
padding: 2px 2%;
text-align: left;
}

h2{
display: block;
padding: 5px 2%;
width: 96%;
margin: 0 0 10px 0;
border-radius: 5px;
background-color: #DDDDDD;
height: 30px;
}

#celek{
	border: solid 1px #aaa;

	width: 1100px;
	margin: 0px auto;
	background: #eee;
	border-radius: 3px;
	z-index: 1;
	position: relative;
	top: 120px;
}

#header{
	width: 100%;
	height: 120px;
	background-image: url("img/headpoz.png");
	box-shadow: inset 0px -5px 15px -5px black;
	position: fixed;
	z-index:2;
}

#menu{
width: 200px;
float: left;
}

#menu menu{
margin: 5px;
margin-top: 10px;
padding: 3px;
}

#menu menu li{
list-style: none;
padding: 3px 5px;
margin-top: 2px;
border-radius: 3px;
}

#menu menu li a{
display: block;
background-color: #fff;
color: #000000;
text-decoration: none;
padding: 3px;
padding-left: 5px;
}

#menu menu li a:hover{
background-color: #FF9966;
}

#obsah{
border: solid 1px #aaa;
width: 865px;
margin: 5px;
margin-left: 210px;
margin-top: 15px;
padding: 5px;
background-color: white;
border-radius: 3px;
min-height: 300px;
}

#back{
	position: fixed;
	top: 120PX;
	left: 0;
	right: 0;
	bottom: 0;
	background: #bbb;
	z-index: -1;
	overflow: hidden;
}


#logo{
float: left;
}

#h{
margin: 0 auto;
width: 1100px;
}
#h2{
margin: 0 auto;
width: 780px;
}

#hornimenu{
margin-left: 350px;
width: 400px;
height: 60px;
padding: 0px;
}

#hornimenu ul{
margin: 0px;
padding: 0px;
}

#hornimenu ul li{
list-style:none;
display: block;
float: left;
margin: 0px;
margin-left: 5px;
padding: 0px;
width: 60px;
height: 60px;
border: solid 0px black;
}

#hornimenu ul li.mesto a{
display: block;
height: 100%;
background-image: url("img/mesto.png");
}

#hornimenu ul li.mesto a:hover{
background-image: url("img/mestoh.png");
}

#hornimenu ul li.stat a{
display: block;
height: 100%;
background-image: url("img/stat.png");
}

#hornimenu ul li.stat a:hover{
background-image: url("img/stath.png");
}

#hornimenu ul li.zpravy a{
display: block;
height: 100%;
background-image: url("img/zpravy.png");
}

#hornimenu ul li.zpravy a:hover{
background-image: url("img/zpravyh.png");
}

#hornimenu ul li.zpravyn a{
background-image: url("img/zpravyn.png");
}

#hornimenu ul li.profil a{
display: block;
height: 100%;
background-image: url("img/profil.png");
}

#hornimenu ul li.profil a:hover{
background-image: url("img/profilh.png");
}


#suroviny{
width: 770px;
padding: 5px;
}

.surovina{
border: solid 1px black;
width: 180px;
float: left;
margin: 3px;
background-color: #CCCCFF;
border-radius: 5px;
}

.surovina div{
margin: 1px;
padding-left: 40px;
}

.surovina img{
float: left;
margin: 3px;
}

.hlaska{
border: solid 3px #339900;
background-color: #99CC33;
margin: 5px;
padding: 5px;
}

.zp{
float: right;
}

.zp a{
border: solid 1px #bbb;
font-size: 18px;
text-align: center;
display: block;
width: 120px;
background-color: #eee;
padding: 3px;
margin: 0px;
border-radius: 10px;
color: #000;
margin-left: 5px;
}

.zp a:hover{
background-color: #CCCCFF;
}

.drevo {
  display: block;
  height: 30px;
  width: 50px;
  padding-left: 45px;
  background-image: url("img/drevo.png");
  border: solid 3px #bbb;
  border-radius: 5px;
  padding-top: 10px;
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 5px;
  background-color: #cccfff;
  float: left;
  margin-left:5px;
}

.kamen {
  display: block;
  height: 30px;
  width: 50px;
  padding-left: 45px;
  background-image: url("img/kamen.png");
  border: solid 3px #bbb;
  border-radius: 5px;
  padding-top: 10px;
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 5px;
  background-color: #cccfff;
  float: left;
  margin-left:5px;
}

.zelezo {
  display: block;
  height: 30px;
  width: 50px;
  padding-left: 45px;
  background-image: url("img/zelezo.png");
  border: solid 3px #bbb;
  border-radius: 5px;
  padding-top: 10px;
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 5px;
  background-color: #cccfff;
  float: left;
  margin-left:5px;
}

.obili {
  display: block;
  height: 30px;
  width: 50px;
  padding-left: 45px;
  background-image: url("img/obili.png");
  border: solid 3px #bbb;
  border-radius: 5px;
  padding-top: 10px;
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 5px;
  background-color: #cccfff;
  float: left;
  margin-left:5px;
}

.cas {
  display: block;
  height: 30px;
  width: 60px;
  padding-left: 45px;
  background-image: url("img/hodiny.png");
  border: solid 3px #bbb;
  border-radius: 5px;
  padding-top: 10px;
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 5px;
  background-color: #cccfff;
  float: left;
  margin-left:5px;
}

.spotreba{
  display: block;
  height: 30px;
  width: 30px;
  padding-left: 45px;
  background-image: url("img/spotreba.png");
  border: solid 3px #bbb;
  border-radius: 5px;
  padding-top: 10px;
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 5px;
  background-color: #cccfff;
  float: left;
  margin-left:5px;
}

.postav{
  display: block;
  border: 1px solid black;
  width: 200px;
  float: left;
  margin-left: 5px;
  text-align: center;
  height: 40px;
  font-size: 35px;
  border-radius: 20px;
  background-color: forestgreen;
  color: cornsilk;
}

.postav:hover{
background-color: goldenrod;
color: black;
}

