@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?eaybos');
	src:url('fonts/icomoon.eot?eaybos#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?eaybos') format('truetype'),
		url('fonts/icomoon.woff?eaybos') format('woff'),
		url('fonts/icomoon.svg?eaybos#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-save:before {
	content: "\e900";
}
.icon-triangle-down:before {
	content: "\e901";
}
.icon-triangle-left:before {
	content: "\e902";
}
.icon-triangle-right:before {
	content: "\e903";
}
.icon-triangle-up:before {
	content: "\e904";
}
.icon-add-user:before {
	content: "\e906";
}
.icon-adjust:before {
	content: "\e907";
}
.icon-block:before {
	content: "\e908";
}
.icon-browser:before {
	content: "\e905";
}
.icon-calendar:before {
	content: "\e90a";
}
.icon-circular-graph:before {
	content: "\e90c";
}
.icon-clock:before {
	content: "\e90d";
}
.icon-code:before {
	content: "\e90e";
}
.icon-cog:before {
	content: "\e90f";
}
.icon-credit-card:before {
	content: "\e910";
}
.icon-credit:before {
	content: "\e911";
}
.icon-cross:before {
	content: "\e912";
}
.icon-direction:before {
	content: "\e913";
}
.icon-emoji-happy:before {
	content: "\e914";
}
.icon-emoji-neutral:before {
	content: "\e915";
}
.icon-emoji-sad:before {
	content: "\e916";
}
.icon-eye:before {
	content: "\e917";
}
.icon-flag:before {
	content: "\e918";
}
.icon-flash:before {
	content: "\e919";
}
.icon-globe:before {
	content: "\e91a";
}
.icon-grid:before {
	content: "\e91b";
}
.icon-hair-cross:before {
	content: "\e91c";
}
.icon-heart-outlined:before {
	content: "\e91d";
}
.icon-heart:before {
	content: "\e91e";
}
.icon-help:before {
	content: "\e91f";
}
.icon-home:before {
	content: "\e920";
}
.icon-hour-glass:before {
	content: "\e921";
}
.icon-infinity:before {
	content: "\e922";
}
.icon-info:before {
	content: "\e923";
}
.icon-key:before {
	content: "\e924";
}
.icon-leaf:before {
	content: "\e925";
}
.icon-lifebuoy:before {
	content: "\e926";
}
.icon-light-up:before {
	content: "\e927";
}
.icon-location-pin:before {
	content: "\e928";
}
.icon-map:before {
	content: "\e929";
}
.icon-menu:before {
	content: "\e92a";
}
.icon-message:before {
	content: "\e92b";
}
.icon-moon:before {
	content: "\e92c";
}
.icon-quote:before {
	content: "\e92d";
}
.icon-tree:before {
	content: "\e92e";
}
.icon-typing:before {
	content: "\e909";
}
.icon-users:before {
	content: "\e92f";
}
.icon-v-card:before {
	content: "\e90b";
}

